.articleContainer{
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
  min-height: 720px;
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.titleContainer{
  
}

.detailContainer{

}

.contentContainer{
  
}

.extraContainer{
  
}